doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/assets/style/main.css')
    link(rel='stylesheet', href='/assets/components/bootstrap/dist/css/bootstrap.css')
  body
    block content