doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/assets/style/main.css')
    link(rel='stylesheet', href='/assets/components/bootstrap/dist/css/bootstrap.css')

    script(src="/assets/components/jquery/dist/jquery.js")
    script(src="/assets/components/angular/angular.js")
    script(src="/assets/components/angular-route/angular-route.js")
    script(src="/assets/components/angular-bootstrap/ui-bootstrap-tpls.js")
    script(src="/assets/scripts/app.js")
    script(src="/assets/scripts/directives.js")
    script(src="/assets/scripts/controllers.js")

  body
    block content